In [1]:
import pandas as pd
import numpy as np
from math import comb as comb

In [2]:
df_original = pd.read_csv('../data/Wimbledon_featured_matches.csv')

### Modify

In [3]:
df_original['match_id'] = df_original['match_id'].rank(method='dense').astype(int)

In [4]:
cur_set_id = 1
last_set_no = 1
df_original['set_id'] = 0
for i, row in df_original.iterrows():
    df_original.loc[i, 'set_id'] = cur_set_id
    if row['set_no'] != last_set_no:
        cur_set_id += 1
        last_set_no = row['set_no']

In [5]:
cur_game_id = 1
last_game_no = 1
df_original['game_id'] = 0
for i, row in df_original.iterrows():
    df_original.loc[i, 'game_id'] = cur_game_id
    if row['game_no'] != last_game_no:
        cur_game_id += 1
        last_game_no = row['game_no']

In [6]:
score_mapping = {'0': 0, '15': 1, '30': 2, '40': 3, 'AD': 4}
df_original["p1_score"] = df_original["p1_score"].map(lambda x: score_mapping[x] if x in score_mapping else x).astype(int)
df_original["p2_score"] = df_original["p2_score"].map(lambda x: score_mapping[x] if x in score_mapping else x).astype(int)

In [7]:
winner_shot_type_mapping = {'F': 0, 'B': 1}
df_original["winner_shot_type"] = df_original["winner_shot_type"].map(lambda x: winner_shot_type_mapping[x] if x in winner_shot_type_mapping else x).astype(int)

In [8]:
# fill na with average speed
df_original["speed_mph"].fillna(df_original["speed_mph"].mean(), inplace=True)

In [11]:
# B / 0: Body, BC / 1: Body/Center, BW / 2: Body/Wide, C / 3: Center, W / 4: Wide"
serve_width_mapping = {'B': 0, 'BC': 1, 'BW': 2, 'C': 3, 'W': 4}
df_original["serve_width"] = df_original["serve_width"].fillna(0).map(lambda x: serve_width_mapping[x] if x in serve_width_mapping else x).astype(int)

In [12]:
# "CTL / 0: Close To Line, NCTL / 1: Not Close To Line"
serve_depth_mapping = {'CTL': 0, 'NCTL': 1}
df_original["serve_depth"] = df_original["serve_depth"].fillna(0).map(lambda x: serve_depth_mapping[x] if x in serve_depth_mapping else x).astype(int)

In [13]:
# "D / 0: Deep, ND / 1: Not Deep"
return_depth_mapping = {'D': 0, 'ND': 1}
df_original["return_depth"] = df_original["return_depth"].fillna(0).map(lambda x: return_depth_mapping[x] if x in return_depth_mapping else x).astype(int)

In [15]:
df_original.to_csv('../data/Wimbledon_featured_matches_modified.csv', index=False)

In [ ]:
df_original.head(-10)

,match_id,player1,player2,elapsed_time,set_no,game_no,point_no,p1_sets,p2_sets,p1_games,...,p2_break_pt_won,p1_break_pt_missed,p2_break_pt_missed,p1_distance_run,p2_distance_run,rally_count,speed_mph,serve_width,serve_depth,return_depth
0,1,Carlos Alcaraz,Nicolas Jarry,00:00:00,1,1,1,0,0,0,...,0,0,0,6.000,7.840,2,95.0,BC,NCTL,ND
1,1,Carlos Alcaraz,Nicolas Jarry,00:00:38,1,1,2,0,0,0,...,0,0,0,5.253,7.094,1,118.0,B,CTL,ND
2,1,Carlos Alcaraz,Nicolas Jarry,00:01:01,1,1,3,0,0,0,...,0,0,0,13.800,19.808,4,120.0,B,NCTL,D
3,1,Carlos Alcaraz,Nicolas Jarry,00:01:31,1,1,4,0,0,0,...,0,0,0,51.108,75.631,13,130.0,BW,CTL,D
4,1,Carlos Alcaraz,Nicolas Jarry,00:02:21,1,1,5,0,0,0,...,0,0,0,0.649,0.813,1,112.0,W,NCTL,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7269,31,Carlos Alcaraz,Novak Djokovic,04:33:13,5,8,320,2,2,4,...,0,0,0,5.732,5.259,1,88.0,BW,NCTL,D
7270,31,Carlos Alcaraz,Novak Djokovic,04:33:51,5,8,321,2,2,4,...,0,0,0,18.146,16.370,5,99.0,BC,CTL,D
7271,31,Carlos Alcaraz,Novak Djokovic,04:34:38,5,8,322,2,2,4,...,0,0,0,9.024,13.154,3,115.0,C,NCTL,ND
7272,31,Carlos Alcaraz,Novak Djokovic,04:35:05,5,8,323,2,2,4,...,0,0,0,6.489,7.329,1,108.0,W,CTL,D
7273,31,Carlos Alcaraz,Novak Djokovic,04:35:50,5,9,324,2,2,5,...,0,0,0,17.628,14.786,5,111.0,W,NCTL,ND

In [14]:
df_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7284 entries, 0 to 7283
Data columns (total 48 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   match_id            7284 non-null   int64
 1   player1             7284 non-null   object
 2   player2             7284 non-null   object
 3   elapsed_time        7284 non-null   object
 4   set_no              7284 non-null   int64
 5   game_no             7284 non-null   int64
 6   point_no            7284 non-null   int64
 7   p1_sets             7284 non-null   int64
 8   p2_sets             7284 non-null   int64
 9   p1_games            7284 non-null   int64
 10  p2_games            7284 non-null   int64
 11  p1_score            7284 non-null   int64
 12  p2_score            7284 non-null   int64
 13  server              7284 non-null   int64
 14  serve_no            7284 non-null   int64
 15  point_victor        7284 non-null   int64
 16  p1_points_won       7284 non-null   int64
 17  p2_points_won       7284 non-null   int64
 18  game_victor         7284 non-null   int64
 19  set_victor          7284 non-null   int64
 20  p1_ace              7284 non-null   int64
 21  p2_ace              7284 non-null   int64
 22  p1_winner           7284 non-null   int64
 23  p2_winner           7284 non-null   int64
 24  winner_shot_type    7284 non-null   int64
 25  p1_double_fault     7284 non-null   int64
 26  p2_double_fault     7284 non-null   int64
 27  p1_unf_err          7284 non-null   int64
 28  p2_unf_err          7284 non-null   int64
 29  p1_net_pt           7284 non-null   int64
 30  p2_net_pt           7284 non-null   int64
 31  p1_net_pt_won       7284 non-null   int64
 32  p2_net_pt_won       7284 non-null   int64
 33  p1_break_pt         7284 non-null   int64
 34  p2_break_pt         7284 non-null   int64
 35  p1_break_pt_won     7284 non-null   int64
 36  p2_break_pt_won     7284 non-null   int64
 37  p1_break_pt_missed  7284 non-null   int64
 38  p2_break_pt_missed  7284 non-null   int64
 39  p1_distance_run     7284 non-null   float64
 40  p2_distance_run     7284 non-null   float64
 41  rally_count         7284 non-null   int64
 42  speed_mph           7284 non-null   float64
 43  serve_width         7284 non-null   int64
 44  serve_depth         7284 non-null   int64
 45  return_depth        7284 non-null   int64
 46  set_id              7284 non-null   int64
 47  game_id             7284 non-null   int64
dtypes: float64(3), int64(42), object(3)
memory usage: 2.7+ MB

## Win Rate

In [14]:
# hyper
set_win_rate = 0.5
server_game_win_rate = 0.8
receiver_game_win_rate = 1 - server_game_win_rate
server_score_win_rate = 0.8
receiver_score_win_rate = 1 - server_score_win_rate

In [6]:
def win_rate_by_set(p1_sets, p2_sets): # return p1_win_rate
    p1_win_rate = 0
    m = 3 - p1_sets
    n = 5 - p1_sets - p2_sets
    for i in range(m, n + 1):
        p1_win_rate += comb(n, i)*set_win_rate**i*(1-set_win_rate)**(n-i)
    return p1_win_rate

In [7]:
win_rate_by_set(0, 1)

0.3125

In [8]:
def win_rate_by_game(server, # 1 or 2 first server
                     p1_games, 
                     p2_games
                     ):
    if(server == 1):
        p1_win_rate_single = server_game_win_rate
        p2_win_rate_single = receiver_game_win_rate
    else:
        p1_win_rate_single = receiver_game_win_rate
        p2_win_rate_single = server_game_win_rate
    if(p1_games >= 5 and p2_games >= 5): # After 5:5(including), tie break
        p1_games -= 5
        p2_games -= 5
        p1_win_rate = 0
        m = 2 - p1_games
        n = 3 - p1_games - p2_games
        for i in range(m, n + 1):
            p1_win_rate += comb(n, i)*p1_win_rate_single**i*p2_win_rate_single**(n-i)
        return p1_win_rate
    elif(p1_games == 6 and p2_games < 5):
        return 1
    elif(p2_games == 6 and p1_games < 5):
        return 0
    else: # Before 5:5, 
        tie_break_prob = \
            comb(10 - p1_games - p2_games, 5 - p1_games)\
            *p1_win_rate_single**(5 - p1_games)\
            *p2_win_rate_single**(5 - p2_games)
        p1_win_rate_with_tie_break = win_rate_by_game(server, 5, 5)
        if(p2_games >= 5):
            p1_win_rate_without_tie_break = 0
        else:
            m = 5 - p1_games
            n = 9 - p1_games - p2_games
            p1_win_rate_without_tie_break = 0
            for i in range(m, n + 1):
                p1_win_rate_without_tie_break += comb(n, i)*p1_win_rate_single**i*p2_win_rate_single**(n-i)
                
        return p1_win_rate_with_tie_break*tie_break_prob + p1_win_rate_without_tie_break*(1 - tie_break_prob)

In [9]:
win_rate_by_game(1, 6, 4)

1

In [40]:
def win_rate_by_score(server, # 1 or 2 first server
                      p1_score, 
                      p2_score, 
                     ):
    if(server == 1):
        p1_win_rate_single = server_score_win_rate
        p2_win_rate_single = receiver_score_win_rate
    else:
        p1_win_rate_single = receiver_score_win_rate
        p2_win_rate_single = server_score_win_rate
    if(p1_score >= 3 and p2_score >= 3): # After 3:3(including)
        min_score = min(p1_score, p2_score)
        p1_score -= min_score
        p2_score -= min_score
        if(p1_score == 1): # p1 - AD
            return p1_win_rate_single + (1 - p1_win_rate_single)*win_rate_by_score(server, 3, 3)
        elif(p2_score == 1): # p2 - AD
            return p1_win_rate_single*win_rate_by_score(server, 3, 3)
        else: # score all
            p1_win_rate = 0
            p1_single = p1_win_rate_single
            # x = p1_single**2 + 2*p1_single*(1 - p1_single)*x
            x = (p1_single)**2 / (1 - 2*p1_single*(1 - p1_single))
            return x
    elif(p1_score == 4 and p2_score < 3):
        return 1
    elif(p2_score == 4 and p1_score < 3):
        return 0
    else: # Before 3:3
        tie_break_prob = \
            comb(6 - p1_score - p2_score, 3 - p1_score)\
            *p1_win_rate_single**(3 - p1_score)\
            *p2_win_rate_single**(3 - p2_score)
        p1_win_rate_with_tie_break = win_rate_by_score(server, 3, 3)
        if(p2_score >= 3):
            p1_win_rate_without_tie_break = 0
        else:
            m = 4 - p1_score
            n = 6 - p1_score - p2_score
            p1_win_rate_without_tie_break = 0
            for i in range(m, n + 1):
                p1_win_rate_without_tie_break += comb(n, i)*p1_win_rate_single**i*p2_win_rate_single**(n-i)
        return p1_win_rate_with_tie_break*tie_break_prob + p1_win_rate_without_tie_break*(1 - tie_break_prob)
        # return p1_win_rate_without_tie_break

In [42]:
win_rate_by_score(1, 3, 1)

0.9592470588235295